@model WebApplication4.Models.TbEmpresa

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Registro n° @Html.DisplayFor(model => model.IdEmpresa)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre de la Empresa
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            NIT
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
</div>
<div>
    <h5 style="padding-bottom:10px;">Opciones</h5>
    <hr />
    <dd>
        <a asp-action="Edit" asp-route-id="@Model?.IdEmpresa" class="btn btn-warning">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver</a>
    </dd>
</div>
