@model IEnumerable<WebApplication4.Models.TbAcceso>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1>Listado de Usuarios</h1>
    <hr />
</div>
<p>
    <a type="button" class="btn btn-primary" asp-action="Create">
        <i class="icofont-plus text-light"></i>
        Crear Nuevo</a>
</p>
<table id="Secundaria" class="table align-middle table-bordered border border-dark">
    <thead class="table-dark">
        <tr>
            <th>
                Correo de Acceso
            </th>
            <th>
                Contraseña
            </th>
            <th>
                Rol
            </th>
            <th>
                Usuario Asignado
            </th>
            <th>
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPermisoNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)
                    @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido1)
                        @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAcceso">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAcceso">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAcceso">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
