@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServiceDesk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/LayoutStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication4.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/icofont/icofont.min.css" asp-append-version="true">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-html5-2.3.3/b-print-2.3.3/date-1.2.0/fc-4.2.1/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    @RenderSection("Estilo", required: false) 

</head>

<body>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <div class="page-container">
  
        <div class="sidebar-menu">
            <header class="logo">
                <a  class="sidebar-icon">
                    <span  style="color:#fff" class="fa fa-bars"></span>
                </a>

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                     @* <span id="logo" class="fa fa-codepen fa-5x"></span>  *@
                    <img id="logo" src="/images/logo2.png" style="height:90px; width:90px" alt="Logo" class="fa fa-codepen fa-5x" />
                </a>
            </header>

            <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>

            <div class="menu">
                <ul id="menu">
                    <li id="menu-home">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                       <i class="fa fa-home"></i><span>Inicio</span></a>
                    </li>
                    @if (User.IsInRole("Usuario"))
                    {
                        <li id="menu-comunicacao">
                            <a class="nav-link dropbtn" asp-controller="TbTickets" asp-action="UserTickets">
                                <i class="icofont-ticket text-light"></i>
                            <span>Tickets</span><span class="fa fa-angle-double-right" style="float: right"></span></a>
                            <ul id="menu-comunicacao-sub">
                                <li id="menu-mensagens" style="width: 120px">
                                    <a class="nav-link" asp-controller="TbTickets" asp-action="Create">
                                        <i class="icofont-plus text-light"></i>
                                        Nuevo<i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>
                                   
                                </li>
                            </ul>
                        </li>
                    }

                    @if (User.IsInRole("Técnico"))
                    {
                        <li id="menu-academico">
                           <a class="nav-link dropbtn" asp-controller="TbTickets" asp-action="Index">
                        <i class="icofont-ticket text-light"></i>
                        <span>Tickets</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul id="menu-academico-sub">
                                <li id="menu-academico-avaliacoes">
                                    <a class="nav-link" asp-controller="TbTickets" asp-action="Create">
                                        <i class="icofont-plus text-light"></i>
                                        Nuevo
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Administrador"))
                    {
                        <li>
                            <a class="nav-link dropbtn" asp-controller="TbTickets" asp-action="Index">
                                <i class="icofont-ticket text-light"></i>
                            <span>Tickets</span><span class="fa fa-angle-right" style="float: right"></span></a>
                            <ul>
                                <li>
                                    <a class="nav-link" asp-controller="TbTickets" asp-action="Create">
                                        <i class="icofont-plus text-light"></i>
                                        Nuevo
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="TbTickets" asp-action="BuscarTicket">
                                        <i class="icofont-search-1 text-light"></i>
                                        Buscar
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="TbCategoriums" asp-action="Index">
                                        <i class="icofont-tasks text-light"></i>
                                        Categorías
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" asp-controller="TbPrioridadTickets" asp-action="Index">
                                        <i class="icofont-tasks text-light"></i>
                                        Prioridad
                                    </a>>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Administrador"))
                    {
                        <li id="menu-academico">
                            <a class="nav-link dropbtn" asp-controller="TbUsuarios" asp-action="Index">
                                <i class="icofont-ui-user-group text-light"></i>

                        <span>Usuarios</span>

                        <span class="fa fa-angle-right" style="float: right"></span>

                        </a>
                            <ul id="menu-academico-sub">
                                <li id="menu-academico-avaliacoes">
                                    <a class="nav-link" asp-controller="TbUsuarios" asp-action="Create">
                                        <i class="icofont-plus text-light"></i>
                                        Nuevo
                                    </a>
                                </li>
                                <li id="menu-academico-boletim">
                                    <a class="nav-link" asp-controller="TbEmpresas" asp-action="Index">
                                        <i class="icofont-bag-alt text-light"></i>

                                        Empresas
                                    </a>
                                </li>
                                <li id="menu-academico-boletim">
                                    <a class="nav-link" asp-controller="TbAccesoes" asp-action="Index">
                                        <i class="icofont-ui-password text-light"></i>
                                        Accesos

                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-link" asp-controller="TbTicketsCerradoes" asp-action="Index">
                                <i class="icofont-file-document text-light"></i>
                                <span>Reportes</span>
                        <span class="fa fa-angle-right" style="float: right"></span>

                        </a>
                            <ul>
                                <li>
                                    <a class="nav-link" asp-controller="TbTicketsCerradoes" asp-action="Index2">
                                        <i class="icofont-file-document text-light"></i>
                                        Reporte power bi
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }                    
                    @if (User.FindFirst("IdUsuario") != null)
                    {
                        <li>
                            <a class="nav-link me-3" asp-controller="TbUsuarios" asp-action="Details" asp-route-id="@User.FindFirst("IdUsuario").Value">
                                <i class="icofont-ui-user text-light"></i>
                                <span>@User.Identity.Name</span>
                        </a>
                        </li>
                        <li class="nav-item">
                            
                        </li>
                    }

                    <li class="nav-item">
                        <a class="btn btn-outline-light my-2 my-sm-0" asp-controller="Login" asp-action="Salir">Salir</a>
                    </li>
                </ul>
                <div class="button-container">
                    <button id="darkModeToggle" class="toggle-button">
                        <span class="toggle-button-icon"></span>
                    </button>
                </div>
            </div>
        </div>
     <div class="container justify-content-center">
            @RenderBody()

     </div>
    @*  <div class="collapse show" id="menu-content">
        @Html.Partial("_SideNav") <!-- Opcional: Puedes agregarlo donde desees que aparezca -->
        <div class="container">
        </div> *@


  @*   <footer class="border-top footer text-muted" style="padding-right">
        <div class="container">
            &copy; 2022 - ServiceDesk 
        </div>
    </footer> *@
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script>
        window.botpressWebChat.init({
            "composerPlaceholder": "Chat with bot",
            "botConversationDescription": "Este bot fue construido muy rapido con Botpress",
            "botId": "357917c8-0b55-48d4-921b-1cb9c7f79e7b",
            "hostUrl": "https://cdn.botpress.cloud/webchat/v1",
            "messagingUrl": "https://messaging.botpress.cloud",
            "clientId": "357917c8-0b55-48d4-921b-1cb9c7f79e7b",
            "webhookId": "dd83df8d-59ff-4462-b029-f1d3155c7db2",
            "lazySocket": true,
            "themeName": "prism",
            "frontendVersion": "v1",
            "showPoweredBy": true,
            "theme": "prism",
            "themeColor": "#2563eb"
        });
    </script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.1/af-2.5.1/b-2.3.3/b-html5-2.3.3/b-print-2.3.3/date-1.2.0/fc-4.2.1/r-2.4.0/sc-2.0.7/sb-1.4.0/sp-2.1.0/sl-1.5.0/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.13.1/sorting/datetime-moment.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        var toggle = true;

        // Ocultar el menú al inicio de la aplicación
        $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
        $("#menu span").css({ "position": "absolute" });

        // Función para alternar la visibilidad del menú al hacer clic en el ícono de la barra lateral
        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            } else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }
            toggle = !toggle;
        });
    });
    const darkModeToggle = document.getElementById('darkModeToggle');

    darkModeToggle.addEventListener('click', () => {
        document.body.classList.toggle('dark-mode');

        // Guardar preferencia del usuario
        const isDarkMode = document.body.classList.contains('dark-mode');
        localStorage.setItem('darkMode', isDarkMode);
    });

    // Aplicar el modo oscuro si está configurado previamente
    const isDarkModeSet = localStorage.getItem('darkMode') === 'true';
    if (isDarkModeSet) {
        document.body.classList.add('dark-mode');
    }
</script>