@model IEnumerable<WebApplication4.Models.TbUsuario>

@{
    ViewData["Title"] = "Index";
    
}

<div class="text-center">
    <h1>Listado de Usuarios</h1>
    <hr />
</div>
<p>
    <a type="button" class="btn btn-primary" asp-action="Create">
        <i class="icofont-plus text-light"></i>
        Crear Nuevo
    </a>
</p>
<div class="table-responsive">
    <table id="Secundaria" class="table align-middle table-bordered border border-dark">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    A. Paterno  
                </th>
                <th>
                    A. Materno
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    Empresa
                </th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.Nombre)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdUsuario">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdUsuario">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdUsuario">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>



