@model IEnumerable<WebApplication4.Models.TbUsuario>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>

<form asp-controller="TbUsuarios" asp-action="Index">
    <p>
        buscar: <input type="text" name="buscar" class="form-text" id="Persona" />
        <input type="submit" value="Buscar" class="btn btn-dark"  />
    </p>
</form>
<p>
    <a class="btn btn-primary btn-lg" asp-action="Create">Crear Nuevo</a>
    <a class="btn btn-primary btn-lg" asp-controller="TbPermisoes" asp-action="Index">  Roles</a>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="TbAccesoes" asp-action="Index">Accesos</a>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="TbEmpresas" asp-action="Index">Empresas</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmpresaNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#Persona").autocomplete({
                source: '/TbUsuarios/Test'
            });
        });
    </script>
}
 
   
