
@model IEnumerable<WebApplication4.Models.TbTicket>

@{
    ViewData["Title"] = "BuscarTicket";
}

<div class="text-center">
    <h1>Buscar Tickets</h1>
    <hr />
</div>
<div class="Busqueda">

</div>
<div class="table-responsive">
    <table id="myTable" class="table align-middle table-bordered border border-dark">
        <thead class="table-dark">
        <th scope="col">Ticket</th>
        <th scope="col">Estado</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Categoria</th>
        <th scope="col">Fecha</th>
        <th scope="col">Asunto</th>
        <th scope="col">Correo</th>
        <th scope="col">Nombre</th>
        <th scope="col">#</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>


                    <th scope="row">@Html.DisplayFor(modelItem => item.IdTicket)</th>
                    <td>@Html.DisplayFor(modelItem => item.IdEstadoNavigation.EstadoTicket)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdPrioridadNavigation.Prioridad)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdProblemaNavigation.Problema)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdFechaNavigation.FechaCreado)</td>
                    <td>@Html.DisplayFor(modelItem => item.DespricionP)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Correo)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre) @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido1)</td>

                    <td>
                        <a type="button" class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdTicket">Details</a>
                    </td>




                </tr>
            }
        </tbody>
    </table>
</div>


