
@model IEnumerable<WebApplication4.Models.TbTicket>

@{
    ViewData["Title"] = "BuscarTicket";
}

<h1>Buscar tickets </h1>


<form class="row g-3" asp-controller="TbTickets" asp-action="BuscarTicket">
    <div class="col-auto">
        <input type="text" name="buscar" class="form-control" id="Persona" />
    </div>
    <div class="col-auto">
        <input type="submit" value="Buscar" class="btn btn-dark" />
    </div>
</form>
<div class="table-responsive">
    <table class="table align-middle table-bordered border border-dark">
        <thead class="table-dark">
        <th scope="col">Ticket</th>
        <th scope="col">Estado</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Categoria</th>
        <th scope="col">Fecha</th>
        <th scope="col">Asunto</th>
        <th scope="col">Adjunto</th>
        <th scope="col">Correo</th>
        <th scope="col">Nombre</th>
        <th scope="col">#</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>


                    <th scope="row">@Html.DisplayFor(modelItem => item.IdTicket)</th>
                    <td>@Html.DisplayFor(modelItem => item.IdEstadoNavigation.EstadoTicket)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdPrioridadNavigation.Prioridad)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdProblemaNavigation.Problema)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdFechaNavigation.FechaCreado)</td>
                    <td>@Html.DisplayFor(modelItem => item.DespricionP)</td>
                    @if (item.Adjunto != null)
                    {

                        <td>
                            <img src="@Url.Action("Obtener","TbTickets",new{id = item.IdTicket} )" width="50px" height="50px">
                        </td>
                    }
                    else
                    {
                        <td>Ninguno</td>
                    }
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Correo)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre) @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido1)</td>

                    <td>
                        <a type="button" class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.IdTicket">Details</a>
                    </td>




                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#Persona").autocomplete({
                source: '/TbTickets/Test'
            });
            minLenght: 1
        });
    </script>
}
