
@model IEnumerable<WebApplication4.Models.TbTicket>

@{
    ViewData["Title"] = "BuscarTicket";
}

<div class="text-center">
    <h1>Buscar Tickets</h1>
    <hr />
</div>

<div class="table-responsive">
    <table id="busqueda" class="table align-middle ">
        <thead class="table-dark">
        <th scope="col">Ticket</th>
        <th scope="col">Estado</th>
        <th scope="col">Prioridad</th>
        <th scope="col">Categoría</th>
        <th scope="col">Fecha</th>
        <th scope="col">Asunto</th>
        <th scope="col">Usuario</th>
        <th scope="col">#</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>


                    <th scope="row">@Html.DisplayFor(modelItem => item.IdTicket)</th>
                    <td>@Html.DisplayFor(modelItem => item.IdEstadoNavigation.EstadoTicket)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdPrioridadNavigation.Prioridad)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdProblemaNavigation.Problema)</td>
                    <td>@item.IdFechaNavigation.FechaCreado.Value.ToString("yyyy-MM-dd HH:mm")</td>
                    <td>@Html.DisplayFor(modelItem => item.DespricionP)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre) @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido1)</td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.IdTicket" class="btn btn-outline-dark">
                            <i class="bi bi-arrow-up-right-square"></i>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>


