
@model IEnumerable<WebApplication4.Models.TbTicket>

@{
    ViewData["Title"] = "Cerrados";
}


<h1>Cerrados</h1>
<p>

    <input type="submit" value="PDF" class="btn btn-dark" id="btnPrint" />
</p>
<h1 class="display-4">Bienvenido! @User.Identity.Name</h1>
<div id="prueba">
    <h1>Lista cerrados </h1>
<table class="table">
    <thead>
    <thead class="thead-dark">
    <th style="border:1px solid black;" scope="col">ID</th>
    <th style="border:1px solid black;"scope="col">Estado</th>
    <th style="border:1px solid black;" scope="col">Prioridad</th>
    <th style="border:1px solid black;"scope="col">Categoria</th>
    <th style="border:1px solid black;"scope="col">Fecha</th>
    <th style="border:1px solid black;"scope="col">Asunto</th>
    <th style="border:1px solid black;"scope="col">Descripcion</th>
    <th style="border:1px solid black;"scope="col">Adjunto</th>
    <th style="border:1px solid black;"scope="col">Correo</th>
    <th style="border:1px solid black;"scope="col">Nombre</th>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if(item.IdEstadoNavigation.IdEstado == 4){
                    <th style="border:1px solid black;"  scope="row">@Html.DisplayFor(modelItem => item.IdTicket)</th>
                    <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.IdEstadoNavigation.EstadoTicket)</td>
                    <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.IdPrioridadNavigation.Prioridad)</td>
                    <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.IdProblemaNavigation.Problema)</td>
                    <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.IdFechaNavigation.FechaCreado)</td>
                    <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.DespricionP)</td>
                    <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.DescripionDetallada)</td>
                        @if (item.Adjunto != null)
                        {

                        <td style="border:1px solid black;">
                            <img src="@Url.Action("Obtener","TbTickets",new{id = item.IdTicket} )" width="50px" height="50px">
                        </td>
                        }
                        else
                        {
                        <td>Ninguno</td>
                        }
                    <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Correo)</td>
                    <td style="border:1px solid black;">@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre) @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido1)</td>

                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdTicket">Edit</a> |
                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdTicket">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdTicket">Delete</a>
                    </td>
                
                }
               
                
            </tr>
            }
    </tbody>
</table>
</div>
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnPrint").click(function(){
            var sHtml = $("#prueba").html();
            sHtml = sHtml.replace(/</g, "StrTag").replace(/>/g, "EndTag")
            window.open('../TbTickets/GeneradorPdf?html='+ sHtml,'_blank');
             });

    </script>
}
