@model WebApplication4.Models.TbTicket
@using WebApplication4.Controllers
@inject WebApplication4.Controllers.TbDerivadoesController oDerivados


@{
    
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Ticket n°  @Html.DisplayFor(model => model.IdTicket)</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <dl class="row">

                    <dt class="col-sm-2">
                        Asunto
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DespricionP)
                    </dd>
                    <dt class="col-sm-2">
                        Descripción
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DescripionDetallada)
                    </dd>
                    <dt class="col-sm-2">
                        Localidad
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Localizacion)
                    </dd>
                    <dt class="col-sm-2">
                        Adjunto
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.Adjunto != null)
                        {


                            <img id="myImg"  src="@Url.Action("Obtener","TbTickets",new{id = Model.IdTicket} )" width="50px" height="50px">

                            <!-- The Modal -->
                            <div id="myModal" class="modal">

                              <!-- The Close Button -->
                              <span class="close">&times;</span>

                              <!-- Modal Content (The Image) -->
                              <img class="modal-content" id="img01">

                              <!-- Modal Caption (Image Text) -->
                              <div id="caption"></div>
                            </div>

                        }
                        else
                        {
                            <p>Ninguno</p>
                        }
                    </dd>
                    <dt class="col-sm-2">
                        Estado
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdEstadoNavigation.EstadoTicket)
                    </dd>
                    <dt class="col-sm-2">
                        Fecha
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdFechaNavigation.FechaCreado)
                    </dd>
                    <dt class="col-sm-2">
                        Prioridad
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdPrioridadNavigation.Prioridad)
                    </dd>
                    <dt class="col-sm-2">
                        Categoria
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdProblemaNavigation.Problema)
                    </dd>
                    <dt class="col-sm-2">
                        Usuario
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Apellido1)
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Apellido2)
                    </dd>
                    <dt class="col-sm-2">
                        Correo / Telefono
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Correo)
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Telefono)
                    </dd>
                    <h5 style="padding-bottom:10px;">Opciones</h5>
                    
                    <hr />
                    <dd>
                        @if (Model.IdEstado != 4 && User.IsInRole("Administrador") || User.IsInRole("Técnico"))
                        {
                            <a asp-action="Edit" asp-route-id="@Model?.IdTicket" class="btn btn-warning">Editar</a>
                        }
                        @if (User.IsInRole("Administrador") || User.IsInRole("Técnico"))
                        {
                            <a asp-action="Index" class="btn btn-secondary">Volver</a>
                        }
                        @if (User.IsInRole("Usuario")){
                            <a asp-action="UserTickets" class="btn btn-secondary">Volver</a>
                        }
                    </dd>
                </dl>
            </div>
            <div class="col">
                @if (User.IsInRole("Administrador") || User.IsInRole("Técnico"))
                {
                    @if (oDerivados.ExisteDerivado(Model.IdTicket) && Model.IdEstado != 4)
                    {
                        <h5 style="padding-bottom:10px;">Opciones de Derivación</h5>

                        <hr />
                        <label class="mb-2">Derivado a: </label>
                        <label class="mt-2 mb-2 fw-bold">@oDerivados.NombreDerivado(Model.IdTicket)</label>
                    }
                    else{
                        @if (Model.IdEstado == 4){
                            <h5 style="padding-bottom:10px;">Detalles de Cierre</h5>

                            <hr />
                            <dt class="col-sm-5">
                               Ticket Cerrado por: 
                            </dt>
                            <dd class="col-sm-10">
                                @oDerivados.CerradoReceptor(Model.IdTicket)
                            </dd>
                            <dt class="col-sm-7">
                                Razón de cierre:
                            </dt>
                            <dd class="col-sm-10">
                                @oDerivados.CerradoComentario(Model.IdTicket)
                            </dd>

                        }
                        else{
                            <h5 style="padding-bottom:10px;">Opciones de Derivación</h5>

                            <hr />
                            <label class="mb-2 text-danger fw-bold">Sin derivar</label>
                        }
                        
                    }

                    @if (Model.IdEstado == 1 || Model.IdEstado == 2)
                    {
                        <dl class="row">
                            <form asp-controller="TbDerivadoes" asp-action="Derivar" method="post">

                                <select class="form-control" asp-items="ViewBag.Derivar" id="Vuser" name="Vuser"></select>
                                <input type="text" class="btn btn-primary" id="Vticket" value="@Model.IdTicket" name="Vticket" hidden>
                                <input type="submit" class="mt-2 mb-2 btn btn-primary" value="Derivar">
                            </form>

                        </dl>
                        <dl class="row">
                            <h5 style="padding-bottom:10px;">¿Desea atender este ticket?</h5>

                            <hr />
                            <form asp-controller="TbDerivadoes" asp-action="Aceptar" asp-route-idTicket="@Model.IdTicket" asp-route-idUsuario="@User.FindFirst("IdUsuario").Value" method="post">

                                <input type="submit" class="mt-2 mb-2 btn btn-warning" value="Aceptar">
                            </form>
                        </dl>
                    }
                    @if (Model.IdEstado == 3)
                    {
                        <dl class="row">
                            <form asp-controller="TbTickets" asp-action="CerrarTicket" asp-route-idTicket="@Model.IdTicket" method="post">
                                <textarea class="form-control" placeholder="Razón de cierre" name="Comentario" required></textarea>
                                <input type="submit" class="mt-2 mb-2 btn btn-success" value="Cerrar">
                                                              
                            </form>
                        </dl>
                    }

                }
            </div>
        </div>
    </div>
</div>
<h5 style="padding-bottom:10px;">Comentarios</h5>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="TbComentarios" asp-action="Create" method="post">
        <input type="hidden" asp-for="IdTicket" class="form-control" value="@Model.IdTicket" readonly />
        <input type="hidden" asp-for="IdUsuario" class="form-control" value="@User.FindFirst("IdUsuario")?.Value" readonly />
        <div class="form-group">
            <label for="Comentario">Agregar Comentario:</label>
            <textarea class="form-control" name="Comentario" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Agregar Comentario</button>
    </form>
}
else
{
    <p>Inicia sesión para agregar comentarios.</p>
}

<!-- Lista de Comentarios -->
@if (Model.TbComentario.Any())
{
        @foreach (var comentario in Model.TbComentario)
        {
            @* <li>
                <strong>@comentario.IdUsuarioNavigation?.Nombre:</strong> @comentario.Comentario
            </li> *@

            <div class="card p-3 mt-2">

                <div class="d-flex justify-content-between align-items-center">

                    <div class="user d-flex flex-row align-items-center">

                        <span><small class="font-weight-bold text-primary">@comentario.IdUsuarioNavigation?.Nombre:</small> <small class="font-weight-bold">@comentario.Comentario </small></span>

                    </div>

                </div>


            </div>
        }
}
else
{
    <p>No hay comentarios aún.</p>
}
@section Estilo{

<style>
    body {
        background-color: #f7f6f6
    }

    .card {
        border: none;
        box-shadow: 5px 6px 6px 2px #e9ecef;
        border-radius: 4px;
    }

    .dots {
        height: 4px;
        width: 4px;
        margin-bottom: 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .badge {
        padding: 7px;
        padding-right: 9px;
        padding-left: 16px;
        box-shadow: 5px 6px 6px 2px #e9ecef;
    }

    
    .form-check-input {
        margin-top: 6px;
        margin-left: -24px !important;
        cursor: pointer;
    }
</style>
}