@model WebApplication4.Models.TbTicket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbTicket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DespricionP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DespricionP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripionDetallada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripionDetallada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localizacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adjunto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adjunto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdEstadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdEstadoNavigation.IdEstado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFechaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFechaNavigation.IdFecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPrioridadNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPrioridadNavigation.IdPrioridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProblemaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProblemaNavigation.IdProblema)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdTicket">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
