@model WebApplication4.Models.TbTicket
@using WebApplication4.Controllers
@inject WebApplication4.Controllers.TbDerivadoesController oDerivados


@{
    
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Ticket n°  @Html.DisplayFor(model => model.IdTicket)</h4>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <dl class="row">

                    <dt class="col-sm-2">
                        Asunto
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DespricionP)
                    </dd>
                    <dt class="col-sm-2">
                        Descripción
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DescripionDetallada)
                    </dd>
                    <dt class="col-sm-2">
                        Localidad
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Localizacion)
                    </dd>
                    <dt class="col-sm-2">
                        Adjunto
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.Adjunto != null)
                        {


                            <img id="myImg"  src="@Url.Action("Obtener","TbTickets",new{id = Model.IdTicket} )" width="50px" height="50px">

                            <!-- The Modal -->
                            <div id="myModal" class="modal">

                              <!-- The Close Button -->
                              <span class="close">&times;</span>

                              <!-- Modal Content (The Image) -->
                              <img class="modal-content" id="img01">

                              <!-- Modal Caption (Image Text) -->
                              <div id="caption"></div>
                            </div>

                        }
                        else
                        {
                            <p>Ninguno</p>
                        }
                    </dd>
                    <dt class="col-sm-2">
                        Estado
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdEstadoNavigation.EstadoTicket)
                    </dd>
                    <dt class="col-sm-2">
                        Fecha
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdFechaNavigation.FechaCreado)
                    </dd>
                    <dt class="col-sm-2">
                        Prioridad
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdPrioridadNavigation.Prioridad)
                    </dd>
                    <dt class="col-sm-2">
                        Categoria
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdProblemaNavigation.Problema)
                    </dd>
                    <dt class="col-sm-2">
                        Usuario
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Nombre)
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Apellido1)
                        @Html.DisplayFor(model => model.IdUsuarioNavigation.Apellido2)
                    </dd>
                    <h5 style="padding-bottom:10px;">Opciones</h5>
                    
                    <hr />
                    <dd>
                        @if (Model.IdEstado != 4)
                        {
                            <a asp-action="Edit" asp-route-id="@Model?.IdTicket" class="btn btn-warning">Editar</a>
                        }
                        @if (User.IsInRole("Administrador") || User.IsInRole("Técnico"))
                        {
                            <a asp-action="Index" class="btn btn-secondary">Volver</a>
                        }
                        @if (User.IsInRole("Usuario")){
                            <a asp-action="UserTickets" class="btn btn-secondary">Volver</a>
                        }
                    </dd>
                </dl>
            </div>
            <div class="col">
                @if (User.IsInRole("Administrador") || User.IsInRole("Técnico"))
                {
                    @if (oDerivados.ExisteDerivado(Model.IdTicket))
                    {
                        <label class="mb-2">Derivado a: </label>
                        <label class="mt-2 mb-2 fw-bold">@oDerivados.NombreDerivado(Model.IdTicket)</label>
                    }
                    else{
                        @if (Model.IdEstado == 4){
                            <dt class="col-sm-5">
                               Ticket Cerrado por: 
                            </dt>
                            <dd class="col-sm-10">
                                @oDerivados.CerradoReceptor(Model.IdTicket)
                            </dd>
                            <dt class="col-sm-7">
                                Razón de cierre:
                            </dt>
                            <dd class="col-sm-10">
                                @oDerivados.CerradoComentario(Model.IdTicket)
                            </dd>

                        }
                        else{
                            <label class="mb-2 text-danger fw-bold">Sin derivar</label>
                        }
                        
                    }

                    @if (Model.IdEstado == 1 || Model.IdEstado == 2)
                    {
                        <dl class="row">
                            <form asp-controller="TbDerivadoes" asp-action="Derivar" method="post">

                                <select class="form-control" asp-items="ViewBag.Derivar" id="Vuser" name="Vuser"></select>
                                <input type="text" class="btn btn-primary" id="Vticket" value="@Model.IdTicket" name="Vticket" hidden>
                                <input type="submit" class="mt-2 mb-2 btn btn-primary" value="Derivar">
                            </form>

                        </dl>
                        <dl class="row">
                            <form asp-controller="TbDerivadoes" asp-action="Aceptar" asp-route-idTicket="@Model.IdTicket" asp-route-idUsuario="@User.FindFirst("IdUsuario").Value" method="post">

                                <input type="submit" class="mt-2 mb-2 btn btn-primary" value="Aceptar">
                            </form>
                        </dl>
                    }
                    @if (Model.IdEstado == 3)
                    {
                        <dl class="row">
                            <form asp-controller="TbTickets" asp-action="CerrarTicket" asp-route-idTicket="@Model.IdTicket" method="post">
                                <textarea class="form-control" placeholder="Razón de cierre" name="Comentario" required></textarea>
                                <input type="submit" class="mt-2 mb-2 btn btn-primary" value="Cerrar">
                                                              
                            </form>
                        </dl>
                    }

                }
            </div>
        </div>
    </div>
</div>


