@model WebApplication4.Models.TbTicket

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Información</h1>

<h4>Ticket n°  @Html.DisplayFor(model => model.IdTicket)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdTicket" />
            <div class="form-group">
                <label class="control-label">Asunto</label>
                <input asp-for="DespricionP" class="form-control" type="text" required />
                <span asp-validation-for="DespricionP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Descripción</label>
                <textarea asp-for="DescripionDetallada" class="form-control" rows="3" type="text" required></textarea>
                <span asp-validation-for="DescripionDetallada" class="text-danger"></span>
            </div>
            <div class="form-group image-upload">
                <label asp-for="Adjunto" class="control-label"></label>
                @if (Model.Adjunto != null)
                {
                    <img src="@Url.Action("Obtener","TbTickets",new{id = Model.IdTicket} )" width="100px" height="100px">
                    <input type="file" asp-for="Adjunto" class="form-control"/>

                }
                else
                {
                    <p>Ninguno</p>
                    <input type="file" asp-for="Adjunto" class="form-control" />
                }
                
                <span asp-validation-for="Adjunto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Prioridad</label>

                <select asp-for="IdPrioridad" class="form-control" asp-items="ViewBag.IdPrioridad"></select>
                <span asp-validation-for="IdPrioridad" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="control-label">Categoria</label>
                <select asp-for="IdProblema" class="form-control" asp-items="ViewBag.IdProblema"></select>
                <span asp-validation-for="IdProblema" class="text-danger"></span>
            </div>

            <!--SECCION NO EDITABLE -->
            <div class="form-group">
                <label class="control-label">Localizacion</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.Localizacion)" readonly>
                <span asp-validation-for="Localizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Estado</label>
                <input type="text" class="form-control" placeholder="@(ViewBag.Estado)" readonly>
                <span asp-validation-for="IdEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha</label>
                <input type="text" class="form-control" placeholder="@Html.DisplayFor(model => model.IdFechaNavigation.FechaCreado)" readonly>
                <span asp-validation-for="IdFecha" class="text-danger"></span>
            </div>
            <div>
                <h5 style="padding-bottom:10px;">Opciones</h5>

                <hr />
                <dd>
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @if (User.IsInRole("Administrador") || User.IsInRole("Técnico"))
                    {
                        <a asp-action="Index" class="btn btn-secondary">Volver</a>
                    }
                    @if (User.IsInRole("Usuario"))
                    {
                        <a asp-action="UserTickets" class="btn btn-secondary">Volver</a>
                    }
                </dd>
            </div>

        </form>
    </div>
</div>

<style>

</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
