@model IEnumerable<WebApplication4.Models.TbTicket>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<div class="container text-center">
    <div class="row row-cols-4">
        <div class="col">
            <h5>Nuevos</h5>
            <hr class="border border-dark border-1" />
        </div>
        <div class="col">
            <h5>Abiertos</h5>
            <hr class="border border-dark border-1" />
        </div>
        <div class="col">
            <h5>Pendientes</h5>
            <hr class="border border-dark border-1" />
        </div>
        <div class="col">
            <h5>Cerrados</h5>
            <hr class="border border-dark border-1" />
        </div>
    </div>
    <div class="row row-cols-4">
        <div class="col col-tickets">
            @foreach (var item in Model) {
                if(item.IdEstado == 1){
                    var fecha = item.IdFechaNavigation.FechaCreado.Value.ToShortDateString();                   
                        <a asp-action="Details" asp-route-id="@item.IdTicket">
                            <div class="ticket btn btn-info">
                                <div class="row">
                                    <p id="Id" class="col-lg-2">@Html.DisplayFor(modelItem => item.IdTicket)</p>
                                    <p id="Fecha" class="col-8">@Html.DisplayFor(modelItem => fecha)</p>
                                </div>
                                <div class="row">
                                    <p id="Asunto" class="col">@Html.DisplayFor(modelItem => item.DespricionP)</p>
                                </div>
                            </div>
                        </a>
                   
                }
            }
        </div>

        <div class="col col-tickets">
            @foreach (var item in Model) {
                if (item.IdEstado == 2)
                {
                    var fecha = item.IdFechaNavigation.FechaCreado.Value.ToShortDateString();
                     <a asp-action="Details" asp-route-id="@item.IdTicket">
                        <div class="ticket btn btn-primary">
                            <div class="row">
                                <p id="Id" class="col-lg-2">@Html.DisplayFor(modelItem => item.IdTicket)</p>
                                <p id="Fecha" class="col-8">@Html.DisplayFor(modelItem => fecha)</p>
                            </div>
                            <div class="row">
                                <p id="Asunto" class="col">@Html.DisplayFor(modelItem => item.DespricionP)</p>
                            </div>

                        </div>
                    </a>
                }
            }
        </div>
        <div class="col col-tickets">
            @foreach (var item in Model)
            {
                if (item.IdEstado == 3)
                {
                    var fecha = item.IdFechaNavigation.FechaCreado.Value.ToShortDateString();
                    <a asp-action="Details" asp-route-id="@item.IdTicket">
                        <div class="ticket btn btn-warning">
                            <div class="row">
                                <p id="Id" class="col-lg-2">@Html.DisplayFor(modelItem => item.IdTicket)</p>
                                <p id="Fecha" class="col-8">@Html.DisplayFor(modelItem => fecha)</p>
                            </div>
                            <div class="row">
                                <p id="Asunto" class="col">@Html.DisplayFor(modelItem => item.DespricionP)</p>
                            </div>


                        </div>
                    </a>

                }
            }
        </div>
        <div class="col col-tickets">
            @foreach (var item in Model)
            {
                if (item.IdEstado == 4)
                {
                    var fecha = item.IdFechaNavigation.FechaCreado.Value.ToShortDateString();
                    <a asp-action="Details" asp-route-id="@item.IdTicket">
                        <div class="ticket btn btn-success">
                            <div class="row">
                                <p id="Id" class="col-lg-2">@Html.DisplayFor(modelItem => item.IdTicket)</p>
                                <p id="Fecha" class="col-8">@Html.DisplayFor(modelItem => fecha)</p>
                            </div>
                            <div class="row">
                                <p id="Asunto" class="col">@Html.DisplayFor(modelItem => item.DespricionP)</p>
                            </div>
                        </div>
                    </a>
 
                }
            }
        </div>
    </div>
</div>

