@model IEnumerable<WebApplication4.Models.TbTicket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1 class="display-4">Bienvenido! @User.Identity.Name</h1>
<p>
    <a class="btn btn-success+"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <thead class="thead-dark">
    <th scope="col">#</th>
    <th scope="col">Estado</th>
    <th scope="col">Prioridad</th>
    <th scope="col">Categoria</th>
    <th scope="col">Fecha</th>
    <th scope="col">Asunto</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Adjunto</th>
    <th scope="col">Correo</th>
    <th scope="col">Nombre</th>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.IdTicket)</th>
                <td>@Html.DisplayFor(modelItem => item.IdEstadoNavigation.EstadoTicket)</td>
                <td>@Html.DisplayFor(modelItem => item.IdPrioridadNavigation.Prioridad)</td>
                <td>@Html.DisplayFor(modelItem => item.IdProblemaNavigation.Problema)</td>
                <td>@Html.DisplayFor(modelItem => item.IdFechaNavigation.FechaCreado)</td>
                <td>@Html.DisplayFor(modelItem => item.DespricionP)</td>
                <td>@Html.DisplayFor(modelItem => item.DescripionDetallada)</td>
                <td><img src="@Url.Action("Obtener","TbTickets",new{id = item.IdTicket} )" width="50px" height="50px"></td>
                <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Correo)</td>
                <td>@Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre) @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Apellido1)</td>
                
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdTicket">Edit</a> |
                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.IdTicket">Details</a> |
                    <a class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.IdTicket">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
