@model IEnumerable<WebApplication4.Models.TbPrioridadTicket>

@{
    ViewData["Title"] = "Index";
}

<h1>Prioridad de tickets</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">
        <i class="icofont-plus text-light"></i>
        Crear Nuevo
    </a>
</p>
<table id ="Secundaria" class="table align-middle table-bordered border border-dark">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prioridad)
            </th>
            <th>@Html.DisplayNameFor(model => model.TiempoRespuesta)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.Prioridad)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TiempoRespuesta)
                </td>
            <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                        <a asp-action="Edit" asp-route-id="@item.IdPrioridad" class="btn btn-outline-dark">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.IdPrioridad" class="btn btn-outline-dark">Detalles</a>

                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
